div > p {
    color:blue;
}
 

div + p {
    color:rgb(4, 128, 0);
}

div ~ p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}